[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_menu.cfg]

[include pins.cfg]
[include mcu-octopus.cfg]
[include mcu-toolhead.cfg]
[include kinematics.cfg]
[include extruder.cfg]
[include xyz_motors.cfg]
[include sensorless-homing.cfg]
[include input-shaper.cfg]

[gcode_arcs]
resolution: 0.1

[respond]
[exclude_object]

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.7
min_temp: 15
max_temp: 120
pwm_cycle_time: 0.02 ; 50Hz to match UK mains frequency
control: pid
pid_kp: 44.361 
pid_ki: 2.026
pid_kd: 242.875

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
pin: ^EBBCan:PB6
x_offset: 0
y_offset: 25.0
z_offset: 6.75
speed: 5
lift_speed: 50
samples: 3
samples_result: average
sample_retract_dist: 2
samples_tolerance: 0.01
samples_tolerance_retries: 5

#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: PE5
max_power: 1.0
kick_start_time: 2
heater: extruder
heater_temp: 50.0
hardware_pwm: false
cycle_time: 0.010     
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: EBBCan:PA1
kick_start_time: 1.0
shutdown_speed: 1
hardware_pwm: false
#cycle_time: 0.010
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.15

[heater_fan hotend_fan]
pin: EBBCan:PA0
heater: extruder
heater_temp: 50.0

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# Now implemented in the z_calibrate plugin/config
# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:231,366
# speed:100
# z_hop:10

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25
speed: 250
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 12


#####################################################################
#   Displays
#####################################################################

[display_status] # for mainsail
##  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

# [TPL] Display neopixels are defined in led_effects.cfg


#####################################################################
# 	Macros
#####################################################################
[include led_hardware.cfg]
[include led_effects.cfg]
#[include led_templates.cfg]
[include led_macros.cfg]
[include client_macros.cfg]
[include sensors.cfg]
[include calibration_macros.cfg]
[include bed_mesh.cfg]
[include controller_fan.cfg]
[include chamber_exhaust_fan.cfg]
[include bed_fan.cfg]
[include nozzle-clean-purge.cfg]
[include klicky-probe.cfg]
[include beeper.cfg]
[include verify_heaters.cfg]
[include heat_soak.cfg]
#[include timelapse.cfg]
[include tuning_diagnostics.cfg]
[include display_layout.cfg]
[include mainsail.cfg]
[include input_shaper_tuning.cfg]
[include filament_dryer.cfg]
[include moonraker_obico_macros.cfg]
[include KAMP_Settings.cfg]


# Uncomment to include experimental macros and features 
#[include experimental.cfg]
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

## [TPL] Measured Z offsets
## Print Head   | Offset
## =============|============
## TL Dragon HF | 0.370
## E3D V6 Clone | 0.170

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh PEI-Textured-110]
#*# version = 1
#*# points =
#*# 	  0.132500, 0.075000, 0.030000, 0.002500, 0.001667, 0.007500, 0.064583, 0.079583, 0.145000
#*# 	  0.130833, 0.102500, 0.048333, 0.012500, 0.015417, 0.027083, 0.081667, 0.112083, 0.175833
#*# 	  0.147917, 0.100000, 0.064583, 0.001250, 0.027083, 0.029167, 0.060417, 0.099583, 0.173333
#*# 	  0.152500, 0.093750, 0.065417, -0.003333, 0.012083, 0.006667, 0.069167, 0.087917, 0.157083
#*# 	  0.144167, 0.084583, 0.051667, 0.013333, 0.000000, -0.012500, 0.026250, 0.077500, 0.133750
#*# 	  0.128750, 0.088333, 0.023750, -0.024167, -0.015417, -0.016667, 0.030000, 0.058333, 0.153333
#*# 	  0.125000, 0.067500, 0.032500, -0.018333, -0.030417, -0.005000, 0.020000, 0.085000, 0.164583
#*# 	  0.147083, 0.076667, 0.048750, -0.031250, -0.015000, -0.019167, 0.017917, 0.065417, 0.157083
#*# 	  0.147083, 0.116667, 0.071667, 0.005833, -0.008333, -0.019583, 0.040417, 0.100417, 0.178750
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
